<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">
  <timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ssSSS"/>

  <springProperty name="AWS_CLOUD_WATCH-ACCESS-KEY" source="cloud.aws.cloud-watch.access-key"/>
  <springProperty name="AWS-CLOUD-WATCH-SECRET-KEY" source="cloud.aws.cloud-watch.secret-key"/>
  <springProperty name="AWS_REGION" source="cloud.aws.cloud-watch.region"/>

  <appender name="aws_cloud_watch_log" class="ca.pjer.logback.AwsLogsAppender">
    <layout>
      <pattern>[%thread] [%date] [%level] [%file:%line] - %msg%n</pattern>
    </layout>
    <logGroupName>alilm-log-group</logGroupName>
    <logStreamUuidPrefix>alilm-log-stream</logStreamUuidPrefix>
    <logRegion>${AWS_REGION}</logRegion>
    <maxBatchLogEvents>50</maxBatchLogEvents>
    <maxFlushTimeMillis>30000</maxFlushTimeMillis>
    <maxBlockTimeMillis>5000</maxBlockTimeMillis>
    <retentionTimeDays>0</retentionTimeDays>
    <accessKeyId>${AWS_CLOUD_WATCH-ACCESS-KEY}</accessKeyId>
    <secretAccessKey>${AWS-CLOUD-WATCH-SECRET-KEY}</secretAccessKey>
  </appender>

  <property name="CONSOLE_LOG_PATTERN"
    value="%highlight(%-5level) %date [%thread] %cyan([%C{0} :: %M :: %L]) - %msg%n"/>

  <appender name="console_log" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="aws_cloud_watch_log"/>
      <appender-ref ref="console_log"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="aws_cloud_watch_log"/>
      <appender-ref ref="console_log"/>
    </root>
  </springProfile>
</configuration>